<link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-lg navbar-static-top navbar-dark bg-dark twitter-header" style="">
    <a class="navbar-brand p-0 twitter-header__brand" href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true" style="font-size: 30px"></i> <b>TWITTER</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseCntnt" aria-controls="navbarCollapseCntnt" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto twitter-header__profile twitter-profile">
        <li class="nav-item">
            <i class="fa fa-bell twitter-profile__notification" aria-hidden="true"></i>
        </li>
        <li class="nav-item">
            <div style="color:#fff; font-weight: bold; flex-flow: column-reverse"> PACKYA   <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar" class="md-avatar rounded-circle twitter-profile__avatar"></div>
        </li>
    </ul>



</nav>
