
// Your Variables
@import "variables";

// Bootstrap and its default variables
@import "../lib/bootstrap/scss/bootstrap.scss";


//Include SCSS for twitter
@import "webapps/scss/twitter.scss";



// Your system code
.main-heading{
  text-align: center;
  color: darkviolet;
  margin-top: 100px;
}

.error-page{
  padding-top: 50px;
}

.g-error{
  text-align: center;

  &__message{

  }

  &__status{


  }

  &__stack{
    text-align: left;
  }
}



