<div class="container error-page">
    <div class="g-error">
        <h1 class="g-error__message">{{message}}</h1>
        <h2 class="g-error__status">{{error.status}}</h2>
        <pre class="g-error__stack">{{error.stack}}</pre>
    </div>
</div>